$accentcolor: #392315;
$accentcolor2: #debe4e;
$accentcolor3: #5c4033;
$accentcolor4: #515943;
$backgroundcolor: #b8916f;
$backgroundcolor2: #69503d;
$backgroundcolor3: #946a4a;
$white: #f9efe0;

$font_1: "Lora", serif;
$font_2: "Poppins", serif;
$font_3: "Playfair Display SC", serif;
$font_4: "Merriweather", serif;

$s: 360px;
$s2: 490px;
$m: 576px;
$l: 768px;
$l2: 850px;
$xl: 1094px;
$xxl: 1400px;
$xxxl: 1600px;
